* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.6rem;
    padding: 50px 0 10px 0;
    text-decoration: underline #f90;
}

.logo {
    text-decoration: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: inherit;
  }

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.bg-image {
    background: url(./images/people-gc1b133f09_1920.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

navbar {
    padding: 0px 14vw;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* position: fixed; */
    color: white;
    background-color: #272727;
}

#page-wrap {
    position: fixed;
    z-index: 10;
}

hr {
    background-color: #f90;
    height: 3px;
    border: none;
}

span {
    color: #f90;
}

.intro {
    position: absolute;
    top: 40vh;
    left: 20vw;
    font-size: 2.5rem;
    width: 400px;
}

.navbar {
overflow: hidden;
}

.navbar a, .panel-nav>* {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .panel-nav>*:hover {
color: #f90;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
/* 
.panel-nav {
    padding: 16px 14px;
} */

.Homepage {
    padding: 55px 0;
}

.posts-container {
    margin: 50px 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: center;
    align-items: start;
    gap: 20px;
}

.about {
    padding: 50px 20vw;
    background-color: rgb(245, 245, 245);
}

.about p {
    padding-top: 20px;
}

.Footer {
    background-color: #272727;
    color: white;
}

.Header > *:first-child {
    display: none;
}

/* p {
    text-align: left;
    padding: 30px 0;
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
    .posts-container {
        display: block;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .posts-container {
        margin: 50px 15vw;
    }

    .about {
        padding: 50px 15vw;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .posts-container {
        margin: 50px 10vw;
    }

    .about {
        padding: 50px 10vw;
    }

    .Header > *:first-child {
        display: block;
    }

    .navbar {
        display: none;
    }

    navbar {
        padding: 10px 10vw;
    }

    .intro {
        left: 8vw;
        width: 185px;
    }
}

